/* ===============================================
                    Global
================================================*/

body {
    background-color: #FFD7B8;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    color:  #4E54D9;
}

h1, h2 {
    color: #FF6469;
    text-shadow: -4px 2px #FFF; 
}

h1 {
    font-size: 13vw;
}

h2 {
    font-size: 7vw;
}

/* ==============================================
                    Top Section
===============================================*/
#topCardGrid {
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: 'Lobster', cursive;
    background-color: #FFB77B;
    text-align: center;      
}

#topCardItem {       
    width: 50vw;
    max-width: 550px;
    min-width: 250px;
    align-self: center;
   justify-self: center;
   padding-top: 20px;
}

/* ==============================================
                    Page Grid
===============================================*/

#burgerPageGrid {
    display: grid;
    grid-template-columns: auto;    
    align-items: center;
    justify-content: center; 
    grid-gap: 10px;
    text-align: center;
}

.burgerPageItem {            
    text-align: center;      
}

.burgerhr {
    border: 1px solid #FF9726;
    max-width: 200px;
}

/* ==============================================
                Section Styling
===============================================*/

.questionWrap {
    background-color: #FFE5D2;
    padding: 10px 50px 5px 50px;
    border-radius: 5px;
}

/* =============== Button Grid ================= */

.btnGrid {
    display: grid;    
    grid-gap: 10px;
    color: #FFF;    
    font-size: 18px;
    justify-content: space-evenly;
}

.btnItem {
    background-color: #FF8785;
    padding: 5px 20px 0px 20px;    
    border-radius: 30px;    
    margin: 0px 5px 0px 5px;
}

 /* ======================================== 
                  Footer
======================================== */

footer {
    padding-top: 15px;
}

#footerBG {
background-color: #FF8785;
text-align: center;
padding: 15px;
color: #ffd7d6;
font-size: 17px;
font-weight: 500;
}

.socialMediaIcon {
color: #ffd7d6;
font-size: 22px;
}

.socialMediaIcon:hover {
color: #FFF;
}
    



/* ===============================================
                Responsive
================================================*/

@media only screen and (min-width: 473px) {
    .btnGrid {
        grid-template-columns: auto auto auto;
    } 
}

/* ============ Below 473px =============== */
@media only screen and (max-width: 473px) {
    .btnGrid {
        grid-template-columns: auto;
    }
    
    /* ------------ Top Card Title Font ------------- */
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 32px;
    }
}

/* ============ Above 1120px =============== */
@media only screen and (min-width: 1120px) {
  /* ------------ Top Card Title Font ------------- */
    h1 {
        font-size: 145px;
    }

    h2 {
        font-size: 78px;
    }
}